/* Professional Section */
.professional {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #050c6b7a;
    padding: 2rem;
}

/* Samples */
.samples {
    margin-bottom: 20px;
}

/*  Outlier  */
.outlier {
    width: 100%;
    margin-bottom: 50px;
}

/* Fitting */
.fitting {
    width: 100%;
}

.fitting > img {
    width: 730px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

/* Mobile */
.mobile {
    clear: both;
    width: 100%;
    margin-bottom: 20px;
}

.mobile > img {
    width: 400px;
    margin-left: 20px;
    float: right;
}

/* Volunteer Experience  */
.volunteer {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 0.15fr 1fr;
    margin-bottom: 20px;
}

.remax {
    grid-column: 3;
}

/* Recommendation letter */
.recommendations{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.recommendations > iframe {
    padding-left: 10%;
    padding-right: 10%;
}