.footer{
    display: flex;
    bottom: 0;
    justify-content: center;
    padding: 50px;
    /* border-right: 3rem solid var(--back-color);  */
    background-color: var(--body-color);
}

.me{
    color: var(--title-color);
    transition: color 0.4s;
}

.me:hover{
    color: var(--first-color);
}